.ant-input {
  background-color: #323d4e !important;
  color: white !important;
  border: none !important;
  box-shadow: none !important;
}

.ant-input::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.ant-input:hover,
.ant-input:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}

.custom-table .ant-table-thead > tr > th {
  @apply bg-dark-200/85 font-semibold text-white;
}

.custom-table .ant-table-tbody > tr > td {
  @apply bg-dark-100 font-semibold text-white;
}

.custom-table .ant-table-tbody > tr:hover > td {
  @apply bg-dark-100 !important;
}

.custom-modal-wrapper .ant-modal-content {
  @apply bg-dark-200 p-5 text-white;
}

.custom-modal-wrapper .ant-modal-header {
  @apply border-white bg-[#1b2431];
}
.custom-modal-wrapper .ant-modal-title {
  @apply border-b;
}

.custom-modal-wrapper .ant-modal-body {
  @apply p-3;
}

.custom-modal-wrapper .ant-modal-close-x {
  @apply text-white;
}

/* styles.css */
.custom-pagination .ant-pagination-prev button,
.custom-pagination .ant-pagination-next button {
  color: white !important;
  border-color: white !important;
}
/* styles.css */

.custom-upload-wrapper .ant-upload-select,
.custom-upload-wrapper .ant-upload-select-picture-card {
  width: 180px !important;
  height: 180px !important;
  min-width: 180px !important;
  min-height: 180px !important;
  line-height: 180px !important;
  font-size: 24px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-upload-wrapper .ant-upload-list-picture-card-container,
.custom-upload-wrapper .ant-upload-list-item,
.custom-upload-wrapper .ant-upload-list-item-thumbnail,
.custom-upload-wrapper .ant-upload-list-item-thumbnail img {
  width: 180px !important;
  height: 180px !important;
  object-fit: cover !important;
  border-radius: 8px;
}

.btn-create {
  border: none !important;
  background-color: #4880ff !important;
  color: white !important;
  font-weight: bold;
  padding: 1.2rem;
}
.btn-create.ant-btn:hover {
  background-color: #4880ffcc !important; /* 80% opacity */
  color: white !important;
}

.radio-url-btn,
.radio-upload-btn {
  color: #16a34a !important; /* Xanh lá */
  border-color: #16a34a !important;
}
.radio-url-btn.ant-radio-button-wrapper-checked,
.radio-upload-btn.ant-radio-button-wrapper-checked {
  background-color: #16a34a !important;
  color: #fff !important;
}

/* Đổi màu chữ tên file trong danh sách upload */
.ant-upload-list-item-name {
  color: #fff !important;
}

/* Đổi màu chữ nút Xóa (Remove) */
.ant-upload-list-item-action {
  color: #fff !important;
}
