@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Public Sans Variable", sans-serif;
}

/* Thêm class để ẩn scrollbar nhưng vẫn cho phép scroll */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
